services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - ./.env
    restart: always
  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
       - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u ${DB_USERNAME} -p${DB_PASSWORD} --silent"]
      interval: 20s
      timeout: 10s
      retries: 5
    restart: always
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always
  rq_worker_emails:
    build: .
    depends_on:
      redis:
        condition: service_started
    env_file:
      - ./.env
    volumes:
      - .:/app
    command: python -m workers.email_worker
    restart: always
  rq_worker_reminders:
    build: .
    depends_on:
      redis:
        condition: service_started
    env_file:
      - ./.env
    volumes:
      - .:/app
    command: python -m workers.reminder_worker
    restart: always
  rq_worker_reports:
    build: .
    depends_on:
      redis:
        condition: service_started
    env_file:
      - ./.env
    volumes:
      - .:/app
    command: python -m workers.report_worker
    restart: always
  rq_scheduler:
    build: .
    depends_on:
      redis:
        condition: service_started
    env_file:
      - ./.env
    volumes:
      - .:/app
    command: rqscheduler -u ${REDIS_URL}
    restart: always
  register_jobs:
    build: .
    depends_on:
      redis:
        condition: service_started
    env_file:
      - ./.env
    volumes:
      - .:/app
    command: python -m workers.scheduler
    restart: no
volumes:
  mysql_data: